<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sonnyshih.mobilecloud"
    android:versionCode="1"
    android:versionName="@string/app_version" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:name=".base.MobileCloudApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.home.MainActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:label="@string/app_name" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        
        <activity
            android:name="com.sonnyshih.mobilecloud.activity.uploadfile.UploadFileActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>
        
        
        <activity
            android:name=".activity.player.AudioPlayerActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" 
            android:theme="@style/com.sonnyshih.mobilecloud.AppTheme.FullScreen" />
        
        <!-- 
        <activity
            android:name=".activity.home.MainActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" 
            android:theme="@style/com.sonnyshih.mobilecloud.AppTheme.FullScreen" />
         -->
    </application>

</manifest>